In [59]:
import numpy as np, seaborn , pandas as pd

In [60]:
mldata = pd.read_csv(r"C:\Users\LENOVO IDEAPAD\Desktop\notebooks\DataSets-master\DataSets-master\bmi_MF.csv")

In [61]:
mldata.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [62]:
mldata.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

separateb input and output

In [63]:
x_data = mldata.iloc[:,0:3]
y_output = mldata.iloc[:,3]

In [64]:
#x_input.shape
#y_output.shape

In [65]:
#encoding amel to 0 and feamle to 1

x_data.Gender[x_data.Gender == "Male"] = 0
x_data.Gender[x_data.Gender == "Female"] = 1

C:\Users\LENOVO IDEAPAD\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\LENOVO IDEAPAD\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [66]:
#reshaping the data
xx_input =x_input.values.reshape(500,3)
yy_output =y_output.values.reshape(500,1)

In [74]:
type(xx_input)

numpy.ndarray

In [75]:
type(yy_output)

numpy.ndarray

In [138]:
#spilliting into training and testing

x_train = xx_input[0:450]
x_test = xx_input[450:]
y_train = yy_output[0:450]
y_test = yy_output[450:]

In [139]:
from sklearn.neighbors import KNeighborsClassifier

In [140]:
teacher = KNeighborsClassifier()

In [141]:
index_name=pd.Series(["veryweak","weak","normal","ovverwieght","obesity","very obesity"])

In [142]:
index_name

0        veryweak
1            weak
2          normal
3     ovverwieght
4         obesity
5    very obesity
dtype: object

In [143]:
model = teacher.fit(x_train,y_train)

C:\Users\LENOVO IDEAPAD\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [144]:
i = model.predict([[0,168,60]])

In [145]:
index_name[i]

2    normal
dtype: object

In [146]:
ya = y_test
yp = model.predict(x_test)

In [147]:
yalist = list(ya)
yplist =  list(yp)

In [148]:
table = pd.DataFrame({"ya":yalist, "yp":yplist})

In [149]:
from sklearn.metrics import accuracy_score

In [150]:
acc = accuracy_score(ya,yp) *100

In [151]:
acc

92.0